cvxopt==1.1.9
cvxpy==0.4.11
evol==0.2.0
gplearn==0.3.0
gym==0.10.3
keras==2.1.4
keras-rl==0.4.0
lightgbm==2.1.0
numpy==1.14.0
opencv_python==3.4.0.12
Ortools==6.7.4957
pandas==0.22.0
pulp==1.6.8
pybrain==0.3
pyomo==5.4.3
scikit-learn==0.19.1
scipy==1.0.0
tensorflow==1.5.0
tqdm==4.11.2
